<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->
<!-- Mirrored from gramentheme.com/html/bookle/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Mar 2025 11:45:19 GMT -->
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="gramentheme">
    <meta name="description" content="Bookle - Book Store WooCommerce Html Template ">
    <!-- ======== Page title ============ -->
    <title>Bookle - Book Store WooCommerce Html Template</title>
    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!--<< Icomoon.css >>-->
    <link rel="stylesheet" href="~/assets/css/icomoon.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="~/assets/css/main.css">
</head>

<body>
    <!-- Cursor follower -->
    <div class="cursor-follower"></div>

    <!-- Preloader start -->
    <div id="preloader" class="preloader">
        <div class="animation-preloader">
            <div class="spinner">
            </div>
            <div class="txt-loading">
                <span data-text-preloader="B" class="letters-loading">
                    B
                </span>
                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
                <span data-text-preloader="K" class="letters-loading">
                    K
                </span>
                <span data-text-preloader="L" class="letters-loading">
                    L
                </span>
                <span data-text-preloader="E" class="letters-loading">
                    E
                </span>
            </div>
            <p class="text-center">Loading</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back To Top start -->
    <button id="back-top" class="back-to-top">
        <i class="fa-solid fa-chevron-up"></i>
    </button>

    <!-- Offcanvas Area start  -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index.html">
                                <img src="~/assets/img/logo/black-logo.svg" alt="logo-img">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-xl-block">
                        
                    </p>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>Thông tin liên hệ</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="index.html">Main Street, Melbourne, Australia</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="mailto:info@example.com">
                                        <span class="mailto:info@example.com">info@example.com</span>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="index.html">24/7</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:0814325075">0814325075</a>
                                </div>
                            </li>
                        </ul>
                        <div class="header-button mt-4">
                            <a href="contact.html" class="theme-btn text-center">
                                Get A Quote <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>
                        <div class="social-icon d-flex align-items-center">
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>

    <div class="header-top-1">
        <div class="container">
            <div class="header-top-wrapper">
                <ul class="contact-list">
                    <li>
                        <i class="fa-regular fa-phone"></i>
                        <a href="tel:0814325075">0814325075</a>
                    </li>
                    <li>
                        <i class="far fa-envelope"></i>
                        <a href="mailto:info@example.com">Hoanganhvo8@gmail.com</a>
                    </li>
                    <li>
                        <i class="far fa-clock"></i>
                        <span>24/7</span>
                    </li>
                </ul>
                <ul class="list">
                    <li><i class="fa-light fa-comments"></i><a asp-action="Index" asp-controller="About">Liên hệ</a></li>
                    <li>
                        <i class="fa-light fa-user"></i>
                        <a asp-action="Login" asp-controller="Accout" asp-action="Logout">
                            Login @if(User.Identity?.IsAuthenticated?? false)
                            {
                                <li><a asp-controller="Accout" asp-action="Logout"><i class="fa fa-lock"></i>Hi,@User.Identity.Name, Logout</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Accout"><i class="fa fa-lock"></i>Login</a></li>
                            }
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Sticky Header Section start  -->
    <header class="header-1 sticky-header">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-10 col-xl-8 col-xxl-10">
                            <div class="header-left">
                                <div class="logo">
                                    <a href="index.html" class="header-logo">
                                        <img src="~/assets/img/logo/white-logo.svg" alt="logo-img">
                                    </a>
                                </div>
                                <div class="mean__menu-wrapper">
                                    <div class="main-menu">
                                        <nav>
                                            <ul>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Home" >
                                                        Trang chủ 
                                                        <i class="fas fa-angle"></i>
                                                    </a>
                                                   
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Product">
                                                        Sản phẩm 
                                                        <i class="fas fa-angle-down"></i>
                                                    </a>
                                                    <ul class="submenu">
                                                        <li><a asp-action="Index" asp-controller="Product">Danh sách sách</a></li>
                                                        <li><a asp-action="Details" asp-controller="Product">Chi tiết sách</a></li>
                                                        <li><a asp-action="Index" asp-controller="Cart">Giỏ hàng</a></li>
                                                        <li><a href="checkout.html">Thanh toán</a></li>
                                                    </ul>
                                                </li>
                                                <li >
                                                    <a asp-action ="Index" asp-controller="About">
                                                        Giới thiệu
                                                    </a>
                                                    
                                                </li>
                                                <li>
                                                    <a asp-action ="Index" asp-controller="Contact">Liên hệ</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 col-xl-4 col-xxl-2">
                            <div class="header-right">
                                <div class="category-oneadjust gap-6 d-flex align-items-center">
                                    <div class="icon">
                                        <i class="fa-sharp fa-solid fa-grid-2"></i>
                                    </div>
                                    
                                    <form asp-controller="Search" asp-action="Index" method="get" class="search-toggle-box d-md-block">
                                        <div class="input-area">
                                            <input type="text" placeholder="Tìm kiếm" name="query" value="@ViewData["Query"]">
                                            <button class="cmn-btn" type="submit">
                                                <i class="far fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="menu-cart">
                                    <a href="wishlist.html" class="cart-icon">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                    <a href="/Cart" class="cart-icon position-relative">
                                        <i class="fa-regular fa-cart-shopping"></i>
                                        <span id="cart-count" class="cart-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            0
                                        </span>
                                    </a>
                                    <div class="header-humbager ml-30">
                                        <a class="sidebar__toggle" href="javascript:void(0)">
                                            <div class="bar-icon-2">
                                                <img src="~/assets/img/icon/icon-13.svg" alt="img">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </header>

    <!-- Main Header Section start  -->
    <header class="header-1">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-10 col-xl-8 col-xxl-10">
                            <div class="header-left">
                                <div class="logo">
                                    <a href="index.html" class="header-logo">
                                        <img src="~/assets/img/logo/white-logo.svg" alt="logo-img">
                                    </a>
                                </div>
                                <div class="mean__menu-wrapper">
                                    <div class="main-menu">
                                        <nav id="mobile-menu">
                                            <ul>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Home">
                                                        Trang chủ 
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Product">
                                                        Sản phẩm 
                                                        <i class="fas fa-angle-down"></i>
                                                    </a>
                                                    <ul class="submenu">
                                                        
                                                        <li><a asp-action="Index" asp-controller="Product">Danh sách sách</a></li>
                                                        <li><a asp-action="Details" asp-controller="Product">Chi tiết sách </a></li>
                                                        <li><a asp-action="Index" asp-controller="Cart">giỏ hàng</a></li>
                                                        <li><a asp-action="Index" asp-controller="Checkout">Thanh toán </a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="About">
                                                        Giới thiệu
                                                    </a>
                                                </li>
                                               
                                                <li>
                                                    <a asp-action="Index" asp-controller="Contact">Liên hệ</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 col-xl-4 col-xxl-2">
                            <div class="header-right">
                                <div class="category-oneadjust gap-6 d-flex align-items-center">
                                    <div class="icon">
                                        <i class="fa-sharp fa-solid fa-grid-2"></i>
                                    </div>
                                    <form asp-controller ="Search" asp-action="Index" method="get" class="search-toggle-box d-md-block">
                                        <div class="input-area">
                                            <input type="text" placeholder="Tìm kiếm" name="query" value="@ViewData["Query"]">
                                            <button class="cmn-btn" type="submit">
                                                <i class="far fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="menu-cart">
                                    <a href="wishlist.html" class="cart-icon">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                    <a asp-action="Index" asp-controller="Cart" class="cart-icon">
                                        <i class="fa-regular fa-cart-shopping">(@ViewBag.CartCount)</i>
                                    </a>
                                    <div class="header-humbager ml-30">
                                        <a class="sidebar__toggle" href="javascript:void(0)">
                                            <div class="bar-icon-2">
                                                <img src="assets/img/icon/icon-13.svg" alt="img">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </header>

    <div>
        <partial name="_Notification"/>
        @RenderBody()
    </div>
    


    <!-- Footer Section start  -->
    <footer class="footer-section footer-bg">
        <div class="container">
            <div class="contact-info-area">
                <div class="contact-info-items wow fadeInUp" data-wow-delay=".2s">
                    <div class="icon">
                        <i class="icon-icon-5"></i>
                    </div>
                    <div class="content">
                        <p>Liên hệ chúng tôi 7/24</p>
                        <h3>
                            <a href="tel:+0814325075">+0814325075</a>
                        </h3>
                    </div>
                </div>
                <div class="contact-info-items wow fadeInUp" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="icon-icon-6"></i>
                    </div>
                    <div class="content">
                        <p>Make a Quote</p>
                        <h3>
                            <a href="mailto:Hoanganhvo8@gmail.com">Hoanganhvo8@gmail.com</a>
                        </h3>
                    </div>
                </div>
                <div class="contact-info-items wow fadeInUp" data-wow-delay=".6s">
                    <div class="icon">
                        <i class="icon-icon-7"></i>
                    </div>
                    <div class="content">
                        <p>Giờ mở cửa</p>
                        <h3>
                            Sunday - Fri: 9 aM - 6 pM
                        </h3>
                    </div>
                </div>
                <div class="contact-info-items wow fadeInUp" data-wow-delay=".8s">
                    <div class="icon">
                        <i class="icon-icon-8"></i>
                    </div>
                    <div class="content">
                        <p>Vị trí</p>
                        <h3>
                            TP.Quy Nhơn
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widgets-wrapper">
            <div class="plane-shape float-bob-y">
                <img src="assets/img/plane-shape.png" alt="img">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <a asp-action="Index" asp-controller="Home">
                                    <img src="assets/img/logo/white-logo.svg" alt="logo-img">
                                </a>
                            </div>
                            <div class="footer-content">
                                <p>
                                    Bookle nhà sách trực tuyến hàng đầu tại Việt Nam
                                </p>
                                <div class="social-icon d-flex align-items-center">
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Hổ trợ khách hàng</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a asp-action ="Index" asp-controller="Product">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Danh sách cửa hàng
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Contact">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Giờ mở cửa
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Contact">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Liên hệ chúng tôi 
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Contact">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Return Policy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Danh mục</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a asp-action="Index" asp-controller="Product">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Tiểu thuyết
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Product">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Truyện tranh
                                    </a>
                                </li>
                                <li>
                                    <a  asp-action="Index" asp-controller="Product">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Sách tham khảo 
                                    </a>
                                </li>
                                <li>
                                     <a asp-action="Index" asp-controller="Product">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Sách khoa học
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Bản tin</h3>
                            </div>
                            <div class="footer-content">
                                <p>Đăng ký nhận bản tin hàng tuần của searing để nhận thông tin cập nhật mới nhất.</p>
                                <div class="footer-input">
                                    <input type="email" id="email2" placeholder="Enter Email Address">
                                    <button class="newsletter-btn" type="submit">
                                        <i class="fa-regular fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-wrapper d-flex align-items-center justify-content-between">
                    <p class="wow fadeInLeft" data-wow-delay=".3s">
                        © All Copyright 2024 by <a href="index.html">Bookle</a>
                    </p>
                    <ul class="brand-logo wow fadeInRight" data-wow-delay=".5s">
                        <li>
                            <a href="contact.html">
                                <img src="~/assets/img/visa-logo.png" alt="img">
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="~/assets/img/mastercard.png" alt="img">
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="~/assets/img/payoneer.png" alt="img">
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="~/assets/img/affirm.png" alt="img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--<< All JS Plugins >>-->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>
    <!--<< Viewport Js >>-->
    <script src="~/assets/js/viewport.jquery.js"></script>
    <!--<< Bootstrap Js >>-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--<< Nice Select Js >>-->
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <!--<< Waypoints Js >>-->
    <script src="~/assets/js/jquery.waypoints.js"></script>
    <!--<< Counterup Js >>-->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!--<< Swiper Slider Js >>-->
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <!--<< MeanMenu Js >>-->
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <!--<< Magnific Popup Js >>-->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!--<< Wow Animation Js >>-->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Gsap -->
    <script src="~/assets/js/gsap.min.js"></script>
    <!--<< Main.js >>-->
    <script src="~/assets/js/main.js"></script>
    <script>
        function updateCartCount() {
            fetch('/Cart/GetCartCount')
                .then(response => response.json())
                .then(data => {
                    let cartCount = document.getElementById('cart-count');
                    cartCount.innerText = data.count;
                    cartCount.style.display = data.count > 0 ? 'inline-block' : 'none';
                })
                .catch(error => console.error('Error fetching cart count:', error));
        }

        // Cập nhật số lượng giỏ hàng khi tải trang
        document.addEventListener("DOMContentLoaded", updateCartCount);
    </script>
    
    <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1050;">
        <div id="toast-message" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toast-text">
                    Product added successfully!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    @if (TempData["LoginError"] != null)
    {
        <script>
            alert("@TempData["LoginError"]");
        </script>
    }
    

   
</body>

<!-- Nút Chatbot hình cuốn sách -->
<div id="chat-toggle" onclick="toggleChat()" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000; cursor: pointer;">
    <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" width="60" height="60" alt="Chatbot" />
</div>

<!-- Khung Chat -->
<div id="chat-box" style="
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 320px;
    max-height: 500px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    display: none;
    flex-direction: column;
    z-index: 999;
    overflow: hidden;
    font-family: Arial, sans-serif;
">

    <!-- Tiêu đề -->
    <div style="background-color: cornflowerblue; color: white; padding: 12px; font-weight: bold;">
        🤖 Tôi là trợ lý <b>Sờ Gu</b>, bạn cần gì?
    </div>

    <!-- Nội dung chat -->
    <div id="chat-content" style="
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden; /* 🚫 Ngăn trượt ngang */
        height: 320px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        word-break: break-word;
        white-space: pre-wrap;
    ">
    </div>

    <!-- Nhập liệu -->
    <div style="padding: 10px; border-top: 1px solid #ccc;">
        <div style="display: flex; gap: 6px;">
            <input type="text" id="chat-input" class="form-control" placeholder="Nhập câu hỏi..."
                   style="flex: 1; padding: 8px; border-radius: 6px; border: 1px solid #ccc;"
                   onkeypress="if(event.key === 'Enter') sendChat()">
            <button class="btn btn-primary" onclick="sendChat()" style="padding: 8px 12px;">Gửi</button>
        </div>
    </div>
</div>

<!-- Script xử lý -->
<script>
    function toggleChat() {
        const box = document.getElementById("chat-box");
        box.style.display = box.style.display === "none" ? "flex" : "none";
    }

    async function sendChat() {
        const input = document.getElementById("chat-input");
        const message = input.value.trim();
        if (!message) return;

        const chatContent = document.getElementById("chat-content");

        // Tin nhắn người dùng
        chatContent.innerHTML += `<div style="align-self: flex-end; background-color: #d1e7dd; padding: 8px 12px; border-radius: 12px; max-width: 100%; white-space: pre-wrap;">${message}</div>`;
        input.value = "";
        chatContent.scrollTop = chatContent.scrollHeight;

        try {
            const response = await fetch('/api/gemini/ask', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(message)
            });

            const data = await response.json();

            const formattedReply = data.reply
                .replace(/\n/g, "<br>")
                .replace(/\*\*(.*?)\*\*/g, "<b>$1</b>")
                .replace(/\*(.*?)\*/g, "<i>$1</i>");

            // Tin nhắn trợ lý
            chatContent.innerHTML += `<div style="align-self: flex-start; background-color: #f1f1f1; padding: 8px 12px; border-radius: 12px; max-width: 100%; white-space: pre-wrap;">${formattedReply}</div>`;
            chatContent.scrollTop = chatContent.scrollHeight;

        } catch (error) {
            chatContent.innerHTML += `<div style="color: red;">❌ Lỗi: ${error.message}</div>`;
        }
    }
</script>



    

@section Scripts {
    <script src="~/js/chat.js"></script>
}
@await RenderSectionAsync("Scripts", required: false)

<!-- Mirrored from gramentheme.com/html/bookle/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Mar 2025 11:45:19 GMT -->
</html>